.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search-bar {
  width: 200px;
  height: 56px;
  border-radius: 4px;
  outline: none;
  border: 1px solid gray;
}

.result {
  padding: 12px 20px;
  background: lightgray;
  border: 1px solid grey;
  margin: 20px;
  font-size: 12px;
  border-radius: 4px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  list-style-type: none;
}
