body {
  margin: 0;
  width: 960px;
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 2px;
  font-family: Georgia, Times, "Times New Roman", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.searchmatch {
  color: rgb(236, 99, 75);
  font-weight: 600;
}

li {
  list-style: none;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
}

.preview {
  max-height: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid grey;
  padding: 4px 12px;
  color: #333;
}
